* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body { 

    font-family: "Goldman", cursive;
    background: url(background.jpeg);
    background-size: 100%;
    
  }
  
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }
 h1 {
  color: #ffffff;
  margin-top: 38vb;
  font-size: 40px;
  text-align: center ;}
.html-css{
  background-color: white;
  background-image: none;
}
.html-css h1 
{
  color: #000;
  text-align: center;
  margin-top: 10vb;
}
 img{
width: 550px;
margin-left: 35vb;
margin-top: -5vb;
 }
h2{
color: #000;
text-align: right;
font-size: 30px;
margin-right: 55vb;
margin-top: 10vb;
}
h4{
color: #000;
font-size: 20px;
margin-top: -40vb;
text-align: right;
margin-right: 30vb;
}
span{
  color: blue;
}
.css{
  color: red;
}
.java{
background-color: black;
background-image: none;

}
.jv{
width: 300px;
margin-top: 25vb;
margin-left: 140vb;
}
.jb{
  color: white;
  font-size: 50px;
  margin-top: -45vb;
}
.jk{
color: white;
font-size: 30px;
margin-top: 7vb;
margin-left: -120vb;
}
.jo{
  color: yellow;
}
.ju{
font-size: 20px;
margin-top: 2vb;
margin-right: 95vb;
}
.php{
background-color: white;
background-image: none;

}
.pp{
margin-top: 25vb;
margin-left: 10vb;

}
.ph{
font-size: 80px;
color: #000;
margin-top: -50vb;
}
.ti{
  color: #9920eb;
}
.po{
  color: #000;
  margin-left: 40vb;
  margin-top: 5vb;
}
.pip{
  font-size: 15px;
margin-left: 100vb;

margin-top: 0vb;
}
.sql{
background-color: #000;
background-image: none;

}
.sq{
  margin-top: 8vb;
  font-size: 40px;
}
.sx{
  color:white ;
  font-size: 30px;
  margin-left: -130vb;
  margin-top: 20vb;
}
.sw{
  color: #ec600f;
}
.sr{
  width: 400px;
  margin-left: 130vb;}
  .sd{
font-size: 20px;
color: white;
margin-right: 130vb;
margin-top: -15vb;
  }
  .co{
    font-size: 70px;

  }

  
  .fuc{
font-size: 25px;
margin-left: 70vb;
  }